<!DOCTYPE html>
<html>
	<head>
		<script src="angular.js" type="text/javascript"></script>
		<script src="app.js" type="text/javascript"></script>
		<script src="./modules/logger/src/logger.serv.js" type="text/javascript"></script> 
		
		<script src="index.js" type="text/javascript"></script> 
	</head>

	<body>

		<p>Open your browser console first. If you haven't read the reamdme file, I strongly advise you to do it first.
		<br>

		<div id='content' ng-app='odin.logger' ng-controller='index'>
			<button type='button' ng-click='noisyButton()'>Noisy Mode</button>
			<br>
			<button type='button' ng-click='logButton()'>Simple Log</button>
			<br>
			<button type='button' ng-click='warnButton()'>Warning Log</button>
			<br>
			<button type='button' ng-click='errorButton()'>Error Log</button>
			<br>
			<button type='button' ng-click='infoButton()'>Info Log</button>
			<br>
			<button type='button' ng-click='timeButton()'>Start time</button>
			<br>
			<button type='button' ng-click='timeEndButton()'>End time</button>
		</div>
	</body>
</html>